src/main/mule/orchestrators/quotes-orchestrator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="quotes-orchestrator" doc:id="b1060cd8-9f9a-4ea4-859b-69c4ff01244b" >
		<choice doc:name="Choice" doc:id="7929a170-42a8-4b90-b803-2bb76e61155d" >
			<when expression="#[vars.isNumber]" >
				<ee:transform doc:name="Choice Slot Customer" doc:id="b48469b2-3316-47f3-b2bb-c17de16372cd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (vars.lexResponse.slots.high  == null and vars.lexResponse.sessionAttributes.slotFlag == "high" and vars.lexResponse.dialogAction.slots.high  == null)
	"force-quotes-high-sflow"
else if (vars.lexResponse.dialogAction.slots.high  == null)
	"quotes-high-message-sflow"
else if (vars.lexResponse.dialogAction.slots.width  == null)
	"width-message-sflow"
else if (vars.lexResponse.dialogAction.slots.long  == null)
	"long-message-sflow"
else if (vars.lexResponse.dialogAction.slots.weight  == null)
	"weight-message-sflow"
else "decision-quotes-number-sflow"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<flow-ref doc:name="Invoke Slot Customer Message" doc:id="7673ad45-26aa-4c9d-8cd1-34a008243e58" name="#[payload]" />
			</when>
			<otherwise >
			<flow-ref doc:name="invoke-get-session-sflow" doc:id="686e1fbe-1845-4223-8ad6-4e75f0120c7c" name="get-session-sflow" />
				<set-variable value="#[payload]" doc:name="lexResponse" doc:id="57788486-0c61-4eaa-848c-98ab80376cc6" variableName="lexResponse" />
				<ee:transform doc:name="Choice Slot Customer" doc:id="c04cbc07-c223-40ee-a9bb-1e4bb3179540">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (vars.lexResponse.slots.high  == null and vars.lexResponse.sessionAttributes.slotFlag == "high" and vars.lexResponse.dialogAction.slots.high  == null)
	"force-quotes-high-sflow"
else if (vars.lexResponse.dialogAction.slots.high  == null)
	"quotes-high-message-sflow"
else if (vars.lexResponse.dialogAction.slots.width  == null)
	"width-message-sflow"
else if (vars.lexResponse.dialogAction.slots.long  == null)
	"long-message-sflow"
else if (vars.lexResponse.dialogAction.slots.weight  == null)
	"weight-message-sflow"
else "decision-quotes-number-sflow"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<flow-ref doc:name="Invoke Slot Customer Message" doc:id="0fedea1d-cabc-4f42-90f1-1db7ae08daaa" name="#[payload]" />
			</otherwise>
		</choice>
	</flow>
	<flow name="quotes-high-message-sflow" doc:id="93de1907-f09f-401a-a67f-c61c2261df6a" >
		<set-variable value='#[{&#10;	intentFlag: "GetQuotes",&#10;	slotFlag: "high"&#10;}]' doc:name="flag" doc:id="ba443477-40da-4adb-a474-6f66fe5c76ba" variableName="flag" />
		<flow-ref doc:name="invoke-put-session-flag-sflow" doc:id="5f631a4b-8259-49f3-af0d-4d94cc114f16" name="put-session-flag-sflow" />
		<ee:transform doc:name="Tracking Code Message" doc:id="510ba9fd-96cc-4479-8273-0d3eb027c4fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "¡Perfecto! Para poder cotizar su envío recuerde que debe colocar las medidas expresadas en pulgadas y el peso en libras"
	},
	{
		message: "Por favor, indíqueme el alto de su paquete en pulgadas:"
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="force-quotes-high-sflow" doc:id="b87348bc-7c04-4622-8413-a3edc142aa47">
		<try doc:name="Try" doc:id="6a6f2546-22f7-4801-937e-7699a017855c">
			<ee:transform doc:name="Transform Message" doc:id="89da43ff-b761-4698-8166-fdb0d4ee114b">
				<ee:message>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="test_validate" ><![CDATA[%dw 2.0
output application/json
---
vars.request.message as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<set-variable value="#[true]" doc:name="valid_number" doc:id="c1e38473-c869-41f9-980a-dfc490a10bfb" variableName="valid_number" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="14737924-3e7b-4c10-95d7-0017c3e6f88f">
					<set-variable value="#[false]" doc:name="valid_number" doc:id="de31f2d8-e08c-4416-998f-37933aa4d18f" variableName="valid_number" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="9b4b1157-ad53-4c10-9555-2e1909a1d6f3" >
			<when expression="#[vars.valid_number]">
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"dialogAction": { &#10;  		"intentName": "GetQuotes",&#10;  		"message": null,&#10;	    "messageFormat": null,&#10;	    "slotToElicit": "high",&#10;  		"slots": vars.lexResponse.slots default {} ++ {&#10;  			"high": vars.request.message&#10;  		},&#10;  		"type": "ElicitSlot"&#10;   	}&#10;}]' doc:name="body" doc:id="9d88bc81-2a62-438d-9285-2ccd0bc831ae" variableName="body" />
				<flow-ref doc:name="invoke-put-session-sflow" doc:id="26cdc943-e4e3-4f75-9100-b48a71bbbcf7" name="put-session-sflow" />
				<ee:transform doc:name="width Message" doc:id="445b7f63-8c44-472b-91be-fed6349d73e0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Por favor, indíqueme el ancho de su paquete en pulgadas:"
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="invalid number" doc:id="de0f921f-693b-438e-bcf8-f94947293567" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Formato incorrecto, por favor colocar unicamente valores numericos."
	},
	{
		message: "Por favor, indíqueme el alto de su paquete en pulgadas:"
	}
	
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="width-message-sflow" doc:id="20b5add9-bb04-4921-9c56-808bacee5ca2" >
		<try doc:name="Try" doc:id="42ce944a-9923-4276-bd37-91e4fa613874">
			<ee:transform doc:name="Transform Message" doc:id="bfd28b29-a929-428e-8350-ece4a6a59a6f">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="test_validate"><![CDATA[%dw 2.0
output application/json
---
vars.request.message as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<set-variable value="#[true]" doc:name="valid_number" doc:id="54a032eb-d32f-4487-93fc-f78057c5553c" variableName="valid_number" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="540ce95b-3cdd-4721-95d8-6c0b81e74907">
					<set-variable value="#[false]" doc:name="valid_number" doc:id="0a4bfcfd-8fbd-4c37-adda-c1c50cb89e32" variableName="valid_number" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="41d06817-4f2a-49e8-b15d-614368464038">
			<when expression="#[vars.valid_number]">
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"dialogAction": { &#10;  		"intentName": "GetQuotes",&#10;  		"message": null,&#10;	    "messageFormat": null,&#10;	    "slotToElicit": "width",&#10;  		"slots": vars.lexResponse.dialogAction.slots default {} ++ {&#10;  			"width": vars.request.message&#10;  		},&#10;  		"type": "ElicitSlot"&#10;   	}&#10;}]' doc:name="body" doc:id="ed544ea3-c1ec-4bee-b31d-ff86ebf56917" variableName="body" />
				<flow-ref doc:name="invoke-put-session-sflow" doc:id="8ccc4ab5-4f81-4d8e-bc6e-fa7ec9407a06" name="put-session-sflow" />
				<ee:transform doc:name="long Message" doc:id="37dc22a0-cb76-4b14-aee2-e9d7288fae1e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Por favor, indíqueme el largo de su paquete en pulgadas:"
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="invalid number" doc:id="b5273469-ca56-4cb8-8801-becdbe332930">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Formato incorrecto, por favor colocar unicamente valores numericos."
	},
	{
		message: "Por favor, indíqueme el ancho de su paquete en pulgadas:"
	}
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="long-message-sflow" doc:id="ef647495-72cf-4e51-8908-85b0a6cb53b3" >
		<try doc:name="Try" doc:id="bf46ffb1-c111-4791-a022-30e33b52ccb9">
			<ee:transform doc:name="Transform Message" doc:id="bd83fe5f-ba9f-4f8d-a1a6-fc4d981b97c5">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="test_validate"><![CDATA[%dw 2.0
output application/json
---
vars.request.message as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<set-variable value="#[true]" doc:name="valid_number" doc:id="f0f20bfc-591c-4c55-9218-8238be4ea7c8" variableName="valid_number" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a11a11b5-4eaf-4137-a0ed-c3300cf5f86c">
					<set-variable value="#[false]" doc:name="valid_number" doc:id="5624a0f3-16b9-473b-90b8-e26b0d8c4e09" variableName="valid_number" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="0d4ecd24-6e24-4567-a337-b01b8400d7a8" >
			<when expression="#[vars.valid_number]">
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"dialogAction": { &#10;  		"intentName": "GetQuotes",&#10;  		"message": null,&#10;	    "messageFormat": null,&#10;	    "slotToElicit": "long",&#10;  		"slots": vars.lexResponse.dialogAction.slots default {} ++ {&#10;  			"long": vars.request.message&#10;  		},&#10;  		"type": "ElicitSlot"&#10;   	}&#10;}]' doc:name="body" doc:id="0bbf3485-03d7-4a50-a1f9-50c851d3a930" variableName="body" />
				<flow-ref doc:name="invoke-put-session-sflow" doc:id="a7db8267-a896-4431-8f04-50b892fd43c5" name="put-session-sflow" />
				<ee:transform doc:name="weight Message" doc:id="01b9b2e1-0963-4461-81e1-6b51d5b43b27">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Por favor, indíqueme el peso de su paquete en libras:"
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="invalid number" doc:id="7d87b063-95e5-4293-9a2b-0e25de00c14c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Formato incorrecto, por favor colocar unicamente valores numericos."
	},
	{
		message: "Por favor, indíqueme el largo de su paquete en pulgadas:"
	}
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="weight-message-sflow" doc:id="81cb868c-c484-4c4d-987a-a80da58ca536" >
		<try doc:name="Try" doc:id="2c88e397-64c0-426d-bd5d-ced5eaa5649f">
			<ee:transform doc:name="Transform Message" doc:id="12a63e7c-26e7-436a-9dd0-3a45c58f7cdb">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="test_validate"><![CDATA[%dw 2.0
output application/json
---
vars.request.message as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<set-variable value="#[true]" doc:name="valid_number" doc:id="86f6bbb3-6589-4ff6-a957-44ab9a482565" variableName="valid_number" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e7bc991b-ed18-4376-a46d-811c1fa0ae25">
					<set-variable value="#[false]" doc:name="valid_number" doc:id="572319a9-8de0-4bd7-9982-575091036f02" variableName="valid_number" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="015a4181-ecd3-4c0e-b444-2778ba5faf13" >
			<when expression="#[vars.valid_number]">
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"dialogAction": { &#10;  		"intentName": "GetQuotes",&#10;  		"message": null,&#10;	    "messageFormat": null,&#10;	    "slotToElicit": "weight",&#10;  		"slots": vars.lexResponse.dialogAction.slots default {} ++ {&#10;  			"weight": vars.request.message&#10;  		},&#10;  		"type": "ElicitSlot"&#10;   	}&#10;}]' doc:name="body" doc:id="346952bb-096c-4819-a0cd-4752cf009faf" variableName="body" />
				<flow-ref doc:name="invoke-put-session-sflow" doc:id="d99336e7-a13e-455a-b53f-53cbcf4ef849" name="put-session-sflow" />
				<flow-ref doc:name="validate-quotes-message-sflow" doc:id="4c306f6e-9625-4eb0-8005-7f3f71de2cad" name="validate-quotes-message-sflow" />
			</when>
			<otherwise >
				<ee:transform doc:name="invalid number" doc:id="125713c5-fe1b-4a64-ba45-750c41e75a83">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Formato incorrecto, por favor colocar unicamente valores numericos."
	},
	{
		message: "Por favor, indíqueme el peso de su paquete en libras:"
	}
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="validate-quotes-message-sflow" doc:id="4a78c56a-a197-4231-a1e1-baf5ffaffd40" >
		<set-variable value="#[vars.request.message]" doc:name="weight" doc:id="053626ec-56db-4079-94de-7ad140b4e268" variableName="weight"/>
		<flow-ref doc:name="get-rate-sflow" doc:id="06d32528-d522-47b5-981b-f82b3eb53430" name="get-rate-sflow"/>
		<set-variable value="#[payload.data]" doc:name="rates information" doc:id="0633e25c-b611-4b3d-a35c-16f584cd77ea" variableName="rate" />
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{    &#10;    "dialogAction": {&#10;    	"type": "Delegate",&#10;        "intentName": "DecisionIntent",&#10;        "message": null,&#10;	    "messageFormat": null,&#10;        "slotToElicit" : "decision",&#10;        "slots": {&#10;            "decision": null&#10;        }&#10;    },&#10;   	"sessionAttributes": {} &#10;}]' doc:name="body" doc:id="576335ca-9aac-417e-836c-346ac6ad2743" variableName="body" />
		<flow-ref doc:name="invoke-put-session-sflow" doc:id="1f55c866-87a4-479f-bd35-26bfa3ff1497" name="put-session-sflow" />
		<choice doc:name="Choice" doc:id="0a46a8b1-74fa-4101-9037-429a6705cc18" >
			<when expression="#[((vars.lexResponse.dialogAction.slots.high as Number &lt; 12) or (vars.lexResponse.dialogAction.slots.long as Number &lt; 14) or (vars.lexResponse.dialogAction.slots.width as Number &lt; 14 ))]">
				<ee:transform doc:name="quote message information" doc:id="b9c30bc8-7378-42f5-ac99-8699b09b83b9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		"message": "Ya que, el paquete no cuenta con las medidas mínimas (14x14x12) pulgadas, se realizará la cotización con el precio de las medidas mínimas para el envío: \nEnvío marítimo: 99.18 USD \nEnvío aéreo: 127.52 USD" 
	},
	{
        "message": "¿Le puedo ayudar en algo más? \n\n1. Sí, por favor. \n2. No, gracias."
    }
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="quote message information" doc:id="b5df404c-1091-4e84-a5ee-7a24a8ec5842">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

var high = vars.lexResponse.dialogAction.slots.high as Number
var long = vars.lexResponse.dialogAction.slots.long as Number
var width = vars.lexResponse.dialogAction.slots.width as Number
var weight = vars.weight as Number

var aerial = if (weight >(high * long * width))
(weight * (vars.rate.aerial as Number) * high * long * width)/166                    
else
((vars.rate.aerial as Number) * high * long * width)/166
var maritime = ( (vars.rate.maritime as Number) * high * long * width)/166
---
[
	{
		"message": "La cotización de su paquete es la siguiente: \nEnvío marítimo: "  ++ (maritime as String {format: "0.00"}) ++ " USD" ++ "\nEnvío aéreo: " ++ (aerial as String {format: "0.00"}) ++ " USD" 
	},
	{
        "message": "¿Le puedo ayudar en algo más? \n\n1. Sí, por favor. \n2. No, gracias."
    }
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="decision-quotes-number-sflow" doc:id="af1333f8-77c9-46eb-8384-2b88420bae40">
		<set-variable value='#[["Si", "No"]]' doc:name="options" doc:id="ca0411fa-f175-4719-b258-58d10918353c" variableName="options" />
		<choice doc:name="Choice" doc:id="f9fb0470-bedc-4dc1-9ccd-7edbe988f421">
			<when expression="#[((vars.request.message contains ('1')) or (vars.request.message contains ('2')))]">
				<set-variable value="#[true]" doc:name="final" doc:id="f9ec8e22-f02e-404a-9bea-82bf920efa38" variableName="final" />
				<set-variable value="#[%dw 2.0&#10;import * from dw::util::Values&#10;output application/json&#10;var nu = ((vars.request.message contains ('1')) or (vars.request.message contains ('2')))&#10;var decision = if (nu)&#10;    if(vars.request.message as Number == 1)&#10;        vars.request update &quot;message&quot; with &quot;si&quot;&#10;    else&#10;        vars.request update &quot;message&quot; with &quot;no&quot;&#10;else&#10;    if(lower(vars.request.message) contains (&quot;si&quot;))&#10;        vars.request update &quot;message&quot; with &quot;si&quot;&#10;    else&#10;        vars.request update &quot;message&quot; with &quot;no&quot;&#10;---&#10;{&#10;	message: decision.message default &quot;&quot;,&#10;	userId: vars.request.userId,&#10;	channel: vars.request.channel&#10;}]" doc:name="request" doc:id="d4cfef7e-7f58-4957-bf04-7a0e387f2461" variableName="request" />
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{    &#10;    "dialogAction": {&#10;    	"type": "Delegate",&#10;        "intentName": "DecisionIntent",&#10;        "message": null,&#10;	    "messageFormat": null,&#10;        "slotToElicit" : "decision",&#10;        "slots": {&#10;            "decision": null&#10;        }&#10;    },&#10;   	"sessionAttributes": {} &#10;}]' doc:name="body" doc:id="a58bb709-aae9-41e8-8d19-b7ba0951b5dd" variableName="body" />
				<flow-ref doc:name="invoke-put-session-sflow" doc:id="f89714fc-b708-4f8d-a2f9-e5d38013da39" name="put-session-sflow" />
				<flow-ref doc:name="decision-final-orchestrator" doc:id="8e45b968-a2cf-4873-8bc7-ef3c11b91a0e" name="decision-final-orchestrator" />
			</when>
			<otherwise>
				<ee:transform doc:name="Invalid Option Message" doc:id="c45aa9f3-66ff-4aef-a4c7-70a6c9a09bfa">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		message: "Disculpe, debe ingresar un valor de la lista indicada."
	},
	{
		message: "¿Le puedo ayudar en algo más? \n\n1. Sí, por favor. \n2. No, gracias."
	}
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
